body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #9ab48d; /* Color page */
}

h1, h2, h3 {
  color: #055e30;
}

img {
  max-width: 100%;
}