body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #7999ED; /* Color page */
}

h1, h2, h3 {
  color: #14d928;
}

img {
  max-width: 100%;
}